*
{
  outline: none !important;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
}

/*css del podcast*/
.podcast{
    text-align: center;
    color: #000000;
    float: left;
    font-size: 230%;
    padding: 90px 15px 15px 90px;
  }
header {
  position: relative;
  z-index: 1000000;
}

p{ 
  font-size: 1.15rew
}

.navbar {
  transition: 0.5s;
  background: transparent !important;
}

.navbar.scrolled 
{
 background: #000 !important;
 transition: 0.5s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .navbar-link-active .navbar-light .navbar-nav .active> .nav-link {
  color: #e04c12;
  background: #901a18;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(104, 8, 8, 0.883);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(104, 8, 8, 0.883);
}

.banner {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../imagenes/Koi.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(#000, transparent);
  pointer-events: none;
}

.banner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(360deg,#000, transparent);
  pointer-events: none;
}

.height100p {
  height: 100vh;
}

.h100 {
  height: 100vh;
}

.sec2 {
  position: relative;
  background: url(../imagenes/Vela.JPG);
  background-size: cover;
  height: 100vh;
}


